<!--------------------------------------------------------------------------------------------------------------
 Template mois precedent / suivant
--------------------------------------------------------------------------------------------------------------->

<button (click)="initialisation()">bouton</button>
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
           (viewDateChange)="closeOpenMonthViewDay()">
        Precedent
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Actuel
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
           (viewDateChange)="closeOpenMonthViewDay()">
        Suivant
      </div>
    </div>
  </div>
</div>
<br />
<!------------------------------------------------------------------------------------------------------------
 Calendrier
--------------------------------------------------------------------------------------------------------------->

<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                           (beforeViewRender)="beforeMonthViewRender($event)"
                           [cellTemplate]="customCellTemplate"
                           [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                           (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-month-view>
</div>

<!--------------------------------------------------------------------------------------------------------------
 Template Day bage
--------------------------------------------------------------------------------------------------------------->

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="badge-day" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals">
    <span
      *ngFor="let group of day.eventGroups"
      class="badge badge-{{ group[0] }}">
      {{ group[1].length }}
    </span>
  </div>
</ng-template>
<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<!--------------------------------------------------------------------------------------------------------------
 Template modal a refaire
--------------------------------------------------------------------------------------------------------------->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
