
<nav *ngIf="c.isLogged()" class="navbar navbar-expand navbar-dark bg-info text-white">
  <a *ngIf="this.c.isLogged()" class="navbar-brand" href="visualisation">
    <img class="logo" src="../../assets/images/logoSlag.png">
  </a>
  <a *ngIf="!this.c.isLogged()" class="navbar-brand" href="connexion">
    <img class="logo" src="../../assets/images/logoSlag.png">
  </a>



  <div *ngIf="this.c.isLogged()" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item mr-4">
        <a class="nav-link text-white" href="visualisation">Visualisation</a>
      </li>

      <li class="nav-item mr-4" *ngIf="this.c.isLogged() && this.c.write()">
        <a class="nav-link text-white" href="ajouter">Ajout</a>
      </li>

      <li class="nav-item mr-4" *ngIf="this.c.isLogged() && this.c.isSuperAdmin()">
        <a class="nav-link text-white" href="utilisateurs">Utilisateurs</a>
      </li>
    </ul>
  </div>

  <button *ngIf="this.c.isLogged()" (click)="this.c.Logout()" class="btn btn-warning text-white">Deconnexion</button>


</nav>

