<div class="p-2" class="nomSousProjet" [ngClass]="{'list-group-item' : true,
'list-group-item-success' : color==='green',
'list-group-item-danger' : color==='red'}">
<!--
<li class="form-class" [ngClass]="{'list-group-item' : true,
'list-group-item-success' : color==='green',
'list-group-item-danger' : color==='red'}">

 <div *ngIf="appareilStatus === 'eteint'" style=
      "width:20px;height:20px;background-color:red"></div>
  -->

  <!-- <input type="text" class="form-control"
  [(ngModel)]="appareilName"> -->

    <form >
      <mat-form-field appearance="fill"> <!-- le vert intérieur !-->
        <mat-label>Duree</mat-label>
        <input type="number" min="0" max="1" step="0.1" matInput maxlength="3" placeholder="0.0" [(ngModel)]="this.duree" (ngModelChange)="onModifyCase()">
        <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
         <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
      </mat-form-field>
    </form>

 <!-- <button (click)="onModifyCase()"></button> -->





</div>

