.petit {
  width: 250px;
}
.opacity {
  opacity: 0.97;

}

.sizemini {
  size: 70px;
}
.petiteListe {
  width: auto;
  font-size: small;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
