




  <div [ngClass]="{ 'd-flex flex-row': width >= 768, 'mobile-view': width < 768}">
    <div class="p-2" id="nomSousProjet">
      <div class="d-flex flex-column ">
        <div [ngClass]="{ 'decalageNomProjetHaut': width >= 768, 'viewCommande': width < 768 }" class="p-2">
        </div>
        <div *ngFor="let cr of listeCr" [ngClass]="{'list-group-item' : true}"
             [ngClass]="{ 'nomCommande': width >= 768, 'viewCommande': width < 768 }"
             style="background-color:{{cr.color}}">
          <p>{{ cr.numCommande }} </p>
        </div>
      </div>
    </div>
    <div *ngFor="let cra of listeCra" class="p-2">
      <div class="d-flex flex-column" class="colonneJour">
        <div class="p-2" class="jourSemaine"><p [ngClass]="{ 'jour-actuel': cra.date.getDate() == getDay().getDate()-2}"
                                                class="textJour">{{ afficherjour(cra.date.getDay())}}</p>
        </div>
        <span *ngIf="cra.duree_totale<0.96" class="badge badge-info">Non complet</span>
        <span *ngIf="cra.duree_totale>0.96 && cra.duree_totale<1.04" class="badge badge-success">Complet</span>
        <span *ngIf="cra.duree_totale>1.04" class="badge badge-danger">Invalide</span>
        <app-compte-rendu *ngFor="let sp of cra.listeCr ; let i = index"
                          [color]=sp.color
                          [duree]=sp.duree
                          [idCra]="sp.idCra"
                          [index]="i"
                          [indexWeek]="this.index">
        </app-compte-rendu>
      </div>
    </div>

  </div>





