<section class="decalage">
<p>Semaine du  au </p>


<!--responsive pas la class-->

  <div  [ngClass]="{ 'd-flex flex-row': width >= 768, 'mobile-view': width < 768}">

    <div class="p-2" id="nomSousProjet" >
      <div class="d-flex flex-column ">
        <div class="p-2" class="decalageNomProjetHaut" >
        </div>
        <div  *ngFor="let cr of listeCr" [ngClass]="{'list-group-item' : true}" [ngClass]="{ 'nomCommande': width >= 768, 'mobile-view': width < 768 }">
           <div style="background-color:{{cr.color}}"><p>{{ cr.numCommande }} </p></div>

        </div>
        </div>

    </div>


      <div class="p-2"  *ngFor="let cra of listeCra" >





      <div class="d-flex flex-column" class="colonneJour">
        <div class="p-2" class="jourSemaine" > <p class="textJour">{{ afficherjour(cra.date.getDay())}}</p> </div>
        <span class="badge badge-info" *ngIf="cra.duree_totale<0.96">Non complet</span>
        <span class="badge badge-success" *ngIf="cra.duree_totale>0.96 && cra.duree_totale<1.04">Complet</span>
        <span class="badge badge-danger" *ngIf="cra.duree_totale>1.04">Invalide</span>
        <app-compte-rendu *ngFor="let sp of cra.listeCr ; let i = index"
                          [duree] = sp.duree
                          [color] = sp.color
                          [index]="i"
                          [idCra]="sp.idCra">
        </app-compte-rendu>

      </div>
    </div>

  </div>


  <button  mat-raised-button color="primary"(click)="addSousProjet()">add projet</button>
  <button  mat-raised-button color="primary"(click)="push()">post pas activé</button>
  <button  mat-raised-button color="primary"(click)="test()">get</button>
  <button  mat-raised-button color="primary"(click)="delete()">delete</button>

</section>
