<section class="padding-fenetre bg-white">
  <div class="opacity ">
    <div class="list-group-item">
      <h1 class="text-info text-center m-3"> Conges en attente</h1>
      <!------------------------------------- DatePicker -------------------------------------------------------------->



      <!------------------------------------- Filtre Categories -------------------------------------------------------------->
      <div class="row justify-content-center row-cols-sm-2 mb-3 pb-5" >
        <div class="list-group-horizontal ">


        </div>
      </div>
      <!------------------------------------- Filtre Categories -------------------------------------------------------------->

      <app-table-conges-en-attente></app-table-conges-en-attente>



      <!-----------------------------------------------DEBUT MENU--------------------------------------------------------->


    </div>
  </div>
</section>
