<section class="decalage">
  <!--  -------------------------------------------------------------------------------------------------------------------------------------->
  <!--div qui afiche le jour actuel la date et le bouton permettant d'ajouter une commande-->
  <!--  -------------------------------------------------------------------------------------------------------------------------------------->

  <div>
    <p class="date-jour-afichage">{{this.getDateToday()}}</p>
    <p class="info-semaine">Semaine du {{this.firstDate}}  au {{this.lastDate}} </p>




<!--    -------------------------------------------------------------------------------------------------- -->
<!--    ajouter une commande    -->
    <!--    -------------------------------------------------------------------------------------------------- -->

    <mat-form-field appearance="fill"  [ngClass]="{ 'add-commande': width >= 768, 'add-commande-responsive': width < 768 }">
      <mat-label>Ajouter commande</mat-label>
      <mat-select>
        <mat-option *ngFor="let com of this.listeAddCommande" [value]="com.id" (click)="addSousProjet(com)">
          {{com.num_com}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--    <button (click)="addSousProjet()" [ngClass]="{ 'add-commande': width >= 768, 'add-commande-responsive': width < 768 }"-->
<!--            color="primary" mat-raised-button>add projet-->
<!--    </button>-->
    <!--    <select class="form-control input-sm">-->
    <!--      <optgroup *ngFor="let family of families"-->
    <!--                label= {{family}} >-->
    <!--        <ng-container *ngFor="let thing of animals" >-->
    <!--          <option *ngIf="thing.family === family" value={{thing.id}}>-->
    <!--            {{thing.name}}-->
    <!--          </option>-->
    <!--        </ng-container>-->
    <!--      </optgroup>-->
    <!--    </select>-->
  </div>

  <!--  -------------------------------------------------------------------------------------------------------------------------------------->
  <!--affiche chaque commande de facon responsive en haut de la page-->
  <!--  -------------------------------------------------------------------------------------------------------------------------------------->

  <div *ngFor="let com of this.listeCommande" [ngClass]="{ 'viewCommande': width >= 768, 'nomCommandeResponsive': width < 768 }"
       style="background-color: {{com.color}}">
    <p>{{ com.num_com }} </p>
    sdfsdfsfsdf
  </div>
  <!--  -------------------------------------------------------------------------------------------------------------------------------------->
  <!--  affiche chaque compte rendu pour chaque cra en passant la main à la vue compte-rendu-->
  <!--  -------------------------------------------------------------------------------------------------------------------------------------->
<!--  <a class="carousel-control-prev"  role="button" data-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Previous</span>-->
<!--  </a>-->
<!--  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Next</span>-->
<!--  </a>-->

<!--  </div>-->
  <div class='col-12'>
    <ngb-carousel  #selectedWeek activeId="ngb-slide-1" (slide)="onSlide($event)">
          ---------------- {{selectedWeek}}-----------------


<!--      <div class="carousel-item active">-->
<!--        <img class="d-block w-100" src="..." alt="First slide">-->
<!--      </div>-->
              <ng-template ngbSlide >
                <app-compte-rendu-vue  [index]="0" *ngIf="this.craWeek[0].listeCra.length != 0"></app-compte-rendu-vue>
              </ng-template>
      <ng-template ngbSlide >
              <app-compte-rendu-vue [index]="1" *ngIf="this.craWeek[1].listeCra.length != 0"></app-compte-rendu-vue>
      </ng-template>
      <ng-template ngbSlide >
              <app-compte-rendu-vue [index]="2" *ngIf="this.craWeek[2].listeCra.length != 0"></app-compte-rendu-vue>
  </ng-template>

    </ngb-carousel>

  </div>

      <button *ngIf=" seeButton()" (click)="push()" [ngClass]="{ 'add-commande': width >= 768, 'add-commande-responsive': width < 768 }"
              color="primary" mat-raised-button>Enregistrer
      </button>
  <button *ngIf="canUpdateStatus() && seeButton()" class="set-status" (click)="save()" color="primary" mat-raised-button>Sauvegarder</button>
  <div class="message-status">
  <p *ngIf="seeMessage()==1 && !seeButton()"> En attente de validation </p>
  <p *ngIf="seeMessage()==2 && !seeButton()"> Validé par l'administration </p>
</div>


</section>
