/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  //background-image: url("../assets/images/bg17.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
